#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
 min-height: 95vh;
 min-width: 90vw; 
}

.headerApp {
  border: 2px solid green;
  position: absolute;
  padding-top: 0;
  top:0;
  width: 90%;
}

.footerApp {
  /* border : 2px solid blue; */
  background-color:#4dcfe8;
  position:absolute;
  color:#f04f3d;
  font-weight: bold;
  bottom: 0;
  width: 100%;
}

